/* .pdf-content {
  padding-top: 60px;
  padding-left: 60px;
  margin-right: 60px;
}

.pdfLogo img {
  width: 200px;
}

.pdf-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qr-img img {
  width: 100px;
}

.pdf-header-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.pdf-header-right p {
  text-align: right;
  color: #222326;
  font-size: 14px;
  font-family: "poppins";
}

.pdf-body-content {
  padding: 50px 0px;
}

.pdf-body-content h5 {
  font-size: 16px;
  font-family: "poppins";
  color: #222326;
  font-weight: 400;
} */
