.invoice-btn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  color: #003566;
  font-size: 15px;
  line-height: 35px;
}

.client-pdf-header h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #272323;
  margin-bottom: 10px;
}

.client-pdf-header p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 16px;
  color: #767676;
}

.client-pdf-header span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}

.client-pdf-invoice h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #003566;
  margin-top: 25px;
}

.client-pdf-invoice p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  padding-top: 5px;
}

.client-pdf-to {
  margin-top: 10px;
  /* display: flex;
  justify-content: space-between; */
}

.client-pdf-to h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  padding-bottom: 10px;
}

.client-pdf-to h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: #000000;
  padding-bottom: 5px;
}

.client-pdf-to p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 18px;
  color: #767676;
}

.client-pdf-to span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
}

.client-pdf-des h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-top: 20px;
}

.client-pdf-des h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #003566;
  padding: 10px 0px;
}

.client-pdf-des p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 20px;
  color: #272323;
  /* identical to box height */
}



.clientInvoice-price-box {
  border: 1px solid #dedede;
  padding: 15px;
}
.clientInvoice-price-box h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 26px;
  color: #272323;
}


.clientInvoice-note h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

.clientInvoice-note p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 22px;
  color: #767676;
}
